@import url('https://fonts.googleapis.com/css?family=Kalam');

body
{
    background: "linear-gradient(-90deg, rgba(216,106,131,0.56), rgba(1,22,220,0.52), rgba(255,255,255,0.02))";
}
.journaltext
{
    width: 50vw;
    height: 90vh;
    resize: none;
    padding: 20px 20px;
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: #002366;
    background:url('https://imgur.com/q1lTO5H.png');
}