@import url('https://fonts.googleapis.com/css?family=Kalam');

.journaltext
{
    width: 50vw;
    height: 20vh;
    resize: none;
    padding: 20px 20px;
    font-size: 16px;
    font-family: 'Kalam', cursive;
    color: #002366;
    background:url('https://imgur.com/q1lTO5H.png');
}